In [5]:
import pandas as pd
import seaborn as sns

In [8]:
iris = sns.load_dataset("iris")
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [9]:
y =iris[["species"]]

In [10]:
X =iris[["sepal_length"]]

In [11]:
from sklearn.model_selection import train_test_split

In [13]:
X_train, X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3)

In [14]:
from sklearn.tree import DecisionTreeClassifier

In [17]:
dtc = DecisionTreeClassifier()

In [18]:
dtc.fit(X_train,y_train)

DecisionTreeClassifier()

In [22]:
y_pred = dtc.predict(X_test)
y_pred

array(['versicolor', 'setosa', 'setosa', 'virginica', 'setosa',
       'versicolor', 'virginica', 'virginica', 'virginica', 'virginica',
       'setosa', 'setosa', 'setosa', 'versicolor', 'versicolor',
       'virginica', 'versicolor', 'setosa', 'setosa', 'virginica',
       'virginica', 'virginica', 'setosa', 'setosa', 'setosa',
       'versicolor', 'virginica', 'setosa', 'virginica', 'virginica',
       'versicolor', 'setosa', 'versicolor', 'versicolor', 'setosa',
       'setosa', 'setosa', 'virginica', 'versicolor', 'setosa',
       'versicolor', 'setosa', 'setosa', 'virginica', 'virginica'],
      dtype=object)

In [24]:
y_test

        species
73   versicolor
2        setosa
3        setosa
86   versicolor
96   versicolor
89   versicolor
52   versicolor
111   virginica
107   virginica
132   virginica
8        setosa
95   versicolor
6        setosa
82   versicolor
134   virginica
146   virginica
69   versicolor
29       setosa
84   versicolor
108   virginica
54   versicolor
105   virginica
60   versicolor
55   versicolor
42       setosa
94   versicolor
77   versicolor
93   versicolor
135   virginica
87   versicolor
101   virginica
28       setosa
88   versicolor
61   versicolor
19       setosa
34       setosa
38       setosa
72   versicolor
58   versicolor
20       setosa
114   virginica
21       setosa
5        setosa
76   versicolor
103   virginica

In [26]:
from sklearn.metrics import confusion_matrix

In [28]:
confusion_matrix(y_test,y_pred)

array([[13,  0,  0],
       [ 6,  8,  7],
       [ 0,  3,  8]])

In [29]:
accuracy = (13+8+8)/(13+6+8+8+3+8)
accuracy

0.6304347826086957

In [30]:
#Decision tree regressor

In [31]:
x= iris[["petal_length"]]
y = iris[["sepal_length"]]

In [32]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.25)

In [35]:
from sklearn.tree import DecisionTreeRegressor
dtr = DecisionTreeRegressor()

In [36]:
dtr.fit(x_train,y_train)

DecisionTreeRegressor()

In [38]:
y_pred =dtr.predict(x_test)

In [40]:
y_test.head()

    sepal_length
3            4.6
31           5.4
14           5.8
27           5.2
22           4.6

In [41]:
y_pred[0:5]

array([5.0875, 5.0875, 5.    , 5.0875, 4.3   ])

In [42]:
from sklearn.metrics import mean_squared_error

In [43]:
mean_squared_error(y_test,y_pred)

0.15378151815550786