In [1]:
import pandas as pd
df= pd.read_csv("/Users/kokildhakal/Desktop/STUDY/IT training/More Machine Learning projects/datasets/Housing.csv")

In [2]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [4]:
#df["mainroad"]= df["mainroad"].apply(lambda x:0 if x=="no" else 1)
df["mainroad"] = df["mainroad"].apply(lambda x:1 if x == "yes" else 0)

In [5]:
df["mainroad"].value_counts()

1    468
0     77
Name: mainroad, dtype: int64

In [6]:
df["guestroom"] = df["guestroom"].apply(lambda x:1 if x == "yes" else 0)

In [7]:
df["guestroom"].value_counts()

0    448
1     97
Name: guestroom, dtype: int64

In [8]:
df["basement"] = df["basement"].apply(lambda x:1 if x == "yes" else 0)

In [9]:
df["hotwaterheating"] = df["hotwaterheating"].apply(lambda x:1 if x == "yes" else 0)

In [10]:
df["airconditioning"] = df["airconditioning"].apply(lambda x:1 if x == "yes" else 0)

In [11]:
df["prefarea"] = df["prefarea"].apply(lambda x:1 if x == "yes" else 0)

In [12]:
df["furnishingstatus"] = df["furnishingstatus"].apply(lambda x:1 if x == "furnished" else 0)

In [13]:
df['furnishingstatus'].value_counts()

0    405
1    140
Name: furnishingstatus, dtype: int64

In [14]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,1
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,1
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,0
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,1
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,1

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    int64
 6   guestroom         545 non-null    int64
 7   basement          545 non-null    int64
 8   hotwaterheating   545 non-null    int64
 9   airconditioning   545 non-null    int64
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    int64
 12  furnishingstatus  545 non-null    int64
dtypes: int64(13)
memory usage: 55.5 KB

In [16]:
X=df.drop(["price"],axis=1)

In [17]:
y=df["price"]

In [18]:
X.head()

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,7420,4,2,3,1,0,0,0,1,2,1,1
1,8960,4,4,4,1,0,0,0,1,3,0,1
2,9960,3,2,2,1,0,1,0,0,2,1,0
3,7500,4,2,2,1,0,1,0,1,3,1,1
4,7420,4,1,2,1,1,1,0,1,2,0,1

In [19]:
y.head()

0    13300000
1    12250000
2    12250000
3    12215000
4    11410000
Name: price, dtype: int64

In [20]:
# from sklearn.preprocessing import MinMaxScaler
# scaler=MinMaxScaler()
# X=scaler.fit_transform(X)

In [21]:
from sklearn.linear_model import LinearRegression

In [22]:
linear_model= LinearRegression()

In [23]:
linear_model.fit(X,y)

LinearRegression()

In [26]:
# import joblib
# joblib.dump(linear_model,"house_price.pkl")

['house_price.pkl']

In [29]:
linear_model.predict([[3000,4,3,2,1,1,1,1,1,3,1,1]])

/Users/kokildhakal/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([9491784.9768128])